

.hiddenDiv{
  display: none;
}


.site-header{
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(131, 130, 130);
  margin: 0;
  padding: 0;
}

.site-content{
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgb(163, 163, 163);
  margin: 0;
  padding: 0;
}

.site-header h3{
  width: 15vw;
  height: 5vh;
  border-radius: 10px;
  background-color: rgb(87, 115, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.site-header h3:hover{
  background-color: rgb(67, 88, 67);
  transform: scale(1.05);
}