#pottery-tab{
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pottery-tab-left-content{
  width: 65vw;
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9b725d !important;

}

#pottery-tab-right-content{
  width: 32vw;
  height: 88vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pottery-tab-right-content,
#pottery-tab-left-content{
  box-shadow: 0px 0px 2vw 5px rgba(0, 0, 0, 0.481) inset;
  border-radius: 5px;
  /* background-color: rgb(159, 128, 103); */

}




.row{
  display: flex;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}

.filled{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F010%2F333%2F920%2Flarge_2x%2Fseamless-texture-of-ceramic-clay-in-pastel-light-red-and-white-colors-modern-abstract-floor-wall-pattern-free-photo.jpg&f=1&nofb=1&ipt=b0f450e7f067937434942bd55b2217947b427ca8de457b2b4adb3d336ed5266e&ipo=images");
  background-size: cover;
}

.gridTile{
  background-color: #e4e4d000;

  transition: all 0.1s;
}

.gridTile:hover{
  transform: scale(0.7) !important;
}

#pottery-to-kiln-button{
  width: 25vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(175, 190, 175);
}


/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}