#pottery-tab{
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pottery-tab-left-content{
  width: 65vw;
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#pottery-tab-right-content{
  width: 32vw;
  height: 88vh;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#pottery-tab-right-content,
#pottery-tab-left-content{

  border-radius: 5px;
  /* background-color: rgb(159, 128, 103); */

}




.row{
  display: flex;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}

.filled{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F010%2F333%2F920%2Flarge_2x%2Fseamless-texture-of-ceramic-clay-in-pastel-light-red-and-white-colors-modern-abstract-floor-wall-pattern-free-photo.jpg&f=1&nofb=1&ipt=b0f450e7f067937434942bd55b2217947b427ca8de457b2b4adb3d336ed5266e&ipo=images");
  background-size: cover;
}

.gridTile{
  background-color: #e4e4d000;
}

#pottery-to-kiln-button{
  width: 15vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(175, 190, 175);
}