#pottery-tab{
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pottery-tab-left-content{
  width: 65vw;
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#pottery-tab-right-content{
  width: 32vw;
  height: 88vh;
}

#pottery-tab-right-content,
#pottery-tab-left-content{

  border-radius: 5px;
  /* background-color: rgb(159, 128, 103); */

}




.row{
  display: flex;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}

.filled{
  background-image: url("https://t4.ftcdn.net/jpg/07/22/79/49/360_F_722794951_CK8itAozJuxm0uhljkuygRHje89x7fnQ.jpg");
  background-size: cover;
}

.gridTile{
  background-color: #e4e4d000;
}